*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "vazir"!important;
  direction: rtl;
}
.header-container{
  display: flex;
  justify-content: space-between;
 
}

.body{
  display: flex;
  justify-content: space-between;

  
}
.round-container{
 margin-top: 100px;
}
.situation{
  display: flex;
align-items: center;
  padding-left: 10px;
  
}

.situation p{
  border-bottom: 1px solid black;
  padding-right: 10px;
}
.progress-container {
margin-top: 100px;
}

.progress-circle {
  transform: rotate(-90deg);
}

.progress-circle-bg {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 10;
}

.progress-circle-fg {
  fill: none;
  stroke: #4db8ff; /* Change this to your desired color */
  stroke-width: 10;
  stroke-dasharray: 283; /* Circumference of the circle (2 * π * r) */
  stroke-dashoffset: 75; /* Adjust this value to set the progress (0 to 283) */
  transition: stroke-dashoffset 0.5s ease;
}

.progress-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Adjust size as needed */
  height: auto;
}
.circular-progress {
  margin: 10px}
  
